<footer style="background-color: black;">
    <hr>
    <p style="text-align: center; color: rgb(255, 255, 255);">
        FATEC Registro &reg; 2025
    </p>
</footer>
</body>
<script src="/js/script.js"></script>
</html>