    <%- include ('partials/header.ejs') %>
    <%- include ('partials/navbar.ejs') %>

     <!-- <div class="content-wrapper"> 
        <h1>Melhores filmes por gênero by Raíssa!</h1>
        <hr/>
        <ul> 
            <li><a href="/romance">Filmes de Romance</a></li>
            <li><a href="/acao">Filmes de Ação</a></li>
            <li><a href="/comedia">Filmes de Comédia</a></li>
        </ul>
    </div> -->

        <div class="card">
            <div class="card-header">
                <h1>Para onde deseja ir?</h1>
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/acao">Ação</a></li>
                    <li><a href="/comedia">Comédia</a></li>
                    <li><a href="/romance">Romance</a></li>
                </ul>
            </div>
        </div>

        <div class="imagem-container">
        <img src="/imgs/cinema2.jpg" alt="Imagem de capa">
        </div>
   

    <%- include ('partials/footer.ejs') %>