    <%- include ('partials/header.ejs') %>
    <%- include ('partials/navbar.ejs') %>
    
    <h1>Melhores filmes por gênero by Raíssa!</h1>
    <hr/>
     <ul> 
        <li><a href="/romance">Filmes de Romance</a></li>
        <li><a href="/acao">Filmes de Ação</a></li>
        <li><a href="/comedia">Filmes de Comédia</a></li>
    </ul>
    <!--<img src="/imgs/imagem1.png" width="1000px" alt="Imagem de capa">-->

    <%- include ('partials/footer.ejs') %>