<%- include ('partials/header.ejs') %>
    <h1>Bem-vindo a página de Produtos</h1>
    <h2>Lista de Produtos:</h2>

    <ul>
      <%#= produtos %>
      <!-- percorrendo a lista de produtos com forEach, preciso fechar a tag ejs p usar html -->
       <!-- uso de igual apenas para variaveis <%#=%> -->
        <!-- produtos é a lista de produtos
         produto é apenas um elemento do array -->
      <% produtos.forEach(produto => { %>
      <li><%= produto.nome %></li>
      <li><%= produto.preco.toLocaleString ("pt-br", {style: "currency", currency: "BRL"}) %></li>
      <br>
      <% }) %>
    </ul>
    <a href="/">Voltar</a>
  <%- include ('partials/footer.ejs') %>
